@font-face {
  font-family: 'OpenSansRegular';
  src: url("../fonts/OpenSans-Regular-webfont.eot");
  src: url("../fonts/OpenSans-Regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-Regular-webfont.woff") format("woff"), url("../fonts/OpenSans-Regular-webfont.ttf") format("truetype"), url("../fonts/OpenSans-Regular-webfont.svg#OpenSansRegular") format("svg");
  font-weight: normal;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
}

@font-face {
  font-family: 'OpenSansBold';
  src: url("../fonts/OpenSans-Bold-webfont.eot");
  src: url("../fonts/OpenSans-Bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-Bold-webfont.woff") format("woff"), url("../fonts/OpenSans-Bold-webfont.ttf") format("truetype"), url("../fonts/OpenSans-Bold-webfont.svg#OpenSansBold") format("svg");
  font-weight: normal;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
}


/*  Main element styles */

body {
  padding: 20px 100px;
  margin: 0px;
  font: 15px/1.5 "OpenSansRegular", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #222;
  font-weight: normal;
  background: #f2f2f2;
}

h1, h2, h3, h4, h5, h6 {
  color: #000;
  margin: 0 0 10px;
  font-family: 'OpenSansRegular', "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: normal;
}

p, ul, ol, table, pre, dl {
  margin: 0 0 20px;
}

h1, h2, h3 {
  line-height: 1.1;
}

a {
  color: #105ea6;
  text-decoration: underline;
}

a:hover {
  color: #004e96;
}

strong {
  font-family: 'OpenSansBold', "Helvetica Neue", Helvetica, Arial, sans-serif !important;
  font-weight: normal;
}

blockquote {
  margin: 0;
  padding: 0 0 0 20px;
  font-style: italic;
}

hr {
  margin: 20px 0;
  border: none;
  border-top: 1px dotted #999;
}


/*  Code area styles */

code, pre, pre input {
  font-family: "Lucida Sans", Monaco, Bitstream Vera Sans Mono, Lucida Console, Terminal;
  color: #000;
}

pre {
  margin: 0 0 1em 0;
  padding: 0;
  overflow: auto;
  line-height: 24px;
}

pre span {
  display: inline-block;
  overflow: hidden;
  vertical-align: middle;
  padding: 2px 4px;
  min-width: 150px;
  min-height: 24px;
  border: 1px solid #dede85;
  background-color: #fefea5;
}

/*  Header styles */

header {
  text-align: center;
  padding-bottom: 20px;
}

.github-ribbon {
  position: absolute; 
  top: 0; 
  right: 0; 
  border: 0;
}


/*  Section (puzzle cards) styles */

section {
  background-color: white;
  border: 1px solid #d2d2d2;
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

section h1 {
  color: #097d1b;
}

section a.run {
  font-family: 'OpenSansBold', "Helvetica Neue", Helvetica, Arial, sans-serif !important;
  font-weight: normal;
}

section .results .error-message {
  color: #d33;
}

section .results .success-check {
  color: #097d1b;
}

section.final {
  background-color: #333;
  color: #fff;
}

section.final h1 {
  color: #dbd9fd;
}

section.final a {
  color: #308ec6;
  text-decoration: underline;
}

section.final a:hover {
  color: #107eb6;
}